.home-page {
    color: #000;
    padding: 25px;
}

.row-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.row-box-elem{
    height: 300px;
    width: 400px;
}

